In [1]:
# Load package

import pandas as pd
import numpy as np
import math
import seaborn as sns
import matplotlib.pyplot as plt

from scipy import stats

# Populasi Bandung Raya (Cekungan Bandung)

- Kota Bandung
- Kota Cimahi
- Kabupaten Bandung
- Kabupaten Bandung Barat
- Kabupaten Sumedang

## Kota Bandung

### Daftar Kecamatan di Kota Bandung

In [2]:
kec_bandung = pd.read_excel(io="Dataset/kecamatan_kota_bandung.xlsx", sheet_name="list_kecamatan")
kec_bandung.rename(columns={
    "Kode _x000D_\nKemendagri" : "kode_kemendagri",
    "Kecamatan" : "kecamatan",
    "Jumlah _x000D_\nKelurahan" : "jumlah_kelurahan",
    "Daftar _x000D_\nKelurahan" : "daftar_kelurahan"
}, inplace=True)

### Luas Kecamatan di Kota Bandung

In [3]:
luas_bandung = pd.read_excel("Dataset/kecamatan_kota_bandung.xlsx", sheet_name="luas_kecamatan")
luas_bandung.rename(columns={
    "Kecamatan" : "kecamatan",
    "Ibukota Kecamatan" : "ibukota_kecamatan",
    "Luas Area (km2/persegi)" : "luas_area"
}, inplace=True)

### Populasi di Kecamatan Kota Bandung

In [4]:
populasi_bandung = pd.read_excel("Dataset/kecamatan_kota_bandung.xlsx", sheet_name="populasi_kecamatan")
populasi_bandung.drop(['Populasi (dalam seribu)'], axis=1 ,inplace=True)
populasi_bandung.rename(columns={
    "Kecamatan" : "kecamatan",
    "Populasi" : "populasi",
    "Laju Pertumbuhan Pertumbuhan Penduduk per Tahun (%)" : "laju_pertumbuhan"
}, inplace=True)

### Kepadatan Penduduk di Kecamatan Kota Bandung

In [5]:
density_bandung = pd.read_excel("Dataset/kecamatan_kota_bandung.xlsx", sheet_name="density_kecamatan")
density_bandung.rename(columns={
    "Kecamatan" : "kecamatan",
    "Persentase Penduduk" : "persentase_penduduk",
    "Kepadatan Penduduk per km**2" : "kepadatan_penduduk"
}, inplace=True)

### Proporsi Penduduk di Kota Bandung Berdasarkan Jenis Kelamin dan Kelompok Umur

In [6]:
proporsi_age_sex_bandung = pd.read_excel("Dataset/kecamatan_kota_bandung.xlsx", sheet_name="proporsi_kelompok_umur")
proporsi_age_sex_bandung

   Kelompok Umur  Laki-laki  Perempuan   Total
0            0-4      92798      88580  181378
1            5-9      90935      87077  178012
2          10-14      98826      93211  192037
3          15-19     102232      96706  198938
4          20-24     100290      97357  197647
5          25-29     101090      98185  199275
6          30-34      97745      93728  191473
7          35-39      98581      92833  191414
8          40-44      96582      93003  189585
9          45-49      85944      84974  170918
10         50-54      76611      77989  154600
11         55-59      64166      67580  131746
12         60-64      50611      53561  104172
13         65-69      38312      41893   80205

### DataFrame Gabungan Kota Bandung

In [7]:
merged_bandung_1 = pd.merge(kec_bandung, luas_bandung, how='left')
merged_bandung_2 = pd.merge(populasi_bandung, density_bandung, how='left')
df_kota_bandung = pd.merge(merged_bandung_1, merged_bandung_2, how='left')
df_kota_bandung.drop(["daftar_kelurahan"], axis=1, inplace=True)
df_kota_bandung

,kode_kemendagri,kecamatan,jumlah_kelurahan,ibukota_kecamatan,luas_area,populasi,laju_pertumbuhan,persentase_penduduk,kepadatan_penduduk
0,32.73.05,Andir,6,Garuda,3.71,96500,0.13,3.93,22856.0
1,32.73.10,Astanaanyar,6,Panjunan,2.89,68500,0.19,2.79,25553.0
2,32.73.20,Antapani,4,Antapani Wetan,3.79,80000,1.12,3.26,18958.0
3,32.73.24,Arcamanik,4,Cisaranten Kulon,5.87,78400,2.00,3.20,10335.0
4,32.73.03,Babakan Ciparay,6,Babakan Ciparay,7.45,142400,0.02,5.81,20146.0
5,32.73.21,Bandung Kidul,4,Mengger,6.06,60200,0.44,2.46,11115.0
6,32.73.15,Bandung Kulon,8,Caringin,6.46,138800,0.01,5.66,19976.0
7,32.73.09,Bandung Wetan,3,Tamansari,3.39,26700,0.01,1.09,7764.0
8,32.73.12,Batununggal,8,Gumuruh,5.03,115400,0.01,4.71,23945.0
9,32.73.04,Bojongloa Kaler,5,Suka Asih,3.03,119400,0.09,4.87,38267.0
10,32.73.17,Bojongloa Kidul,6,Situsaeur,6.26,87100,0.35,3.55,16741.0
11,32.73.22,Buah Batu,4,Margasari,7.93,101200,0.98,4.13,13567.0
12,32.73.18,Cibeunying Kaler,4,Cigadung,4.50,67100,0.02,2.73,14456.0
13,32.73.14,Cibeunying Kidul,6,Cikutra,5.25,107700,0.22,4.39,26007.0
14,32.73.25,Cibiru,4,Cipadung,6.32,72600,0.74,2.96,10609.0
15,32.73.06,Cicendo,6,Arjuna,6.86,92200,0.05,3.76,11841.0
16,32.73.08,Cidadap,3,Hegarmanah,6.11,52600,0.01,2.14,6247.0
17,32.73.29,Cinambo,4,Pakemitan,3.68,25500,0.72,1.04,6006.0
18,32.73.02,Coblong,6,Dago,7.35,110100,0.04,4.49,15063.0
19,32.73.27,Gedebage,4,Rancabolang,9.58,42400,2.41,1.73,4262.0
20,32.73.16,Kiaracondong,6,Babakan Sari,6.12,126600,0.01,5.16,21834.0
21,32.73.13,Lengkong,7,Malabar,5.90,66100,0.01,2.69,11185.0
22,32.73.30,Mandalajati,4,Karang Pamulang,6.57,72500,1.97,2.96,15113.0
23,32.73.28,Panyileukan,4,Mekar Mulya,5.10,40100,0.61,1.64,7554.0
24,32.73.23,Rancasari,4,Cipamokolan,7.33,84800,1.75,3.46,12102.0
25,32.73.11,Regol,7,Ciseureuh,4.30,79100,0.02,3.23,16696.0
26,32.73.07,Sukajadi,5,Sukagalih,4.30,100500,0.01,4.10,19038.0
27,32.73.01,Sukasari,4,Sukarasa,6.27,74700,0.02,3.04,11743.0
28,32.73.19,Sumur Bandung,4,Merdeka,3.40,34100,0.02,1.39,9777.0
29,32.73.26,Ujungberung,5,Cigending,6.40,89300,2.37,3.64,14318.0

## Kota Cimahi

### Daftar Kecamatan di Kota Cimahi

In [8]:
kec_cimahi = pd.read_excel("Dataset/kecamatan_kota_cimahi.xlsx", sheet_name="kecamatan_kota_cimahi")
kec_cimahi.rename(columns={
    "Kode _x000D_\nKemendagri" : "kode_kemendagri",
    "Kecamatan" : "kecamatan",
    "Jumlah _x000D_\nKelurahan" : "jumlah_kelurahan",
    "Daftar _x000D_\nKelurahan" : "daftar_kelurahan"
}, inplace=True)

### Luas Kecamatan di Kota Cimahi

In [9]:
luas_cimahi = pd.read_excel("Dataset/kecamatan_kota_cimahi.xlsx", sheet_name="luas_kecamatan")
luas_cimahi.rename(columns={
    "Kecamatan" : "kecamatan",
    "Ibukota Kecamatan" : "ibukota_kecamatan",
    "Luas Area" : "luas_area",
    "Persentase Total" : "persentase_wilayah"
}, inplace=True)
luas_cimahi['persentase_wilayah'] = luas_cimahi['persentase_wilayah'].apply(lambda x: x/100)

### Populasi di Kecamatan Kota Cimahi

In [10]:
populasi_cimahi = pd.read_excel("Dataset/kecamatan_kota_cimahi.xlsx", sheet_name="populasi_kecamatan")
populasi_cimahi.rename(columns={
    "Kecamatan" : "kecamatan",
    "Populasi" : "populasi",
    "Laju Pertumbuhan" : "laju_pertumbuhan"
}, inplace=True)

### Kepadatan Penduduk di Kota Cimahi

In [11]:
density_cimahi = pd.read_excel("Dataset/kecamatan_kota_cimahi.xlsx", sheet_name="density_kecamatan")
density_cimahi.rename(columns={
    "Kecamatan" : "kecamatan",
    "Persentase Penduduk (%)" : "persentase_penduduk",
    "Kepadatan Penduduk" : "kepadatan_penduduk"
}, inplace=True)
density_cimahi['persentase_penduduk'] = density_cimahi['persentase_penduduk'].apply(lambda x: x/100)

### Proporsi Penduduk di Kota Cimahi berdasarkan jenis kelamin dan kelompok umur

In [12]:
proporsi_age_sex_cimahi = pd.read_excel("Dataset/kecamatan_kota_cimahi.xlsx", sheet_name="proporsi_kelompok_umur")
proporsi_age_sex_cimahi

   Kelompok Umur  Laki-laki  Perempuan  Total
0            0-4      21391      20550  41941
1            5-9      21403      20558  41961
2          10-14      23832      22468  46300
3          15-19      24779      23639  48418
4          20-24      24417      23991  48408
5          25-29      24625      23558  48183
6          30-34      22977      21435  44412
7          35-39      22544      21674  44218
8          40-44      22902      22705  45607
9          45-49      20771      20840  41611
10         50-54      18160      18349  36509
11         55-59      14403      15038  29441
12         60-64      11036      10857  21893
13         60-64      11036      10857  21893
14         65-69       7593       8241  15834
15         70-74       4071       4732   8803
16           75+       3458       4635   8093

### DataFrame Gabungan Kota Cimahi

In [13]:
merged_cimahi_1 = pd.merge(kec_cimahi, luas_cimahi, how='left')
merged_cimahi_2 = pd.merge(populasi_cimahi, density_cimahi, how='left')
df_kota_cimahi = pd.merge(merged_cimahi_1, merged_cimahi_2, how='left')
df_kota_cimahi.drop(['daftar_kelurahan'], axis=1, inplace=True)
df_kota_cimahi

,kode_kemendagri,kecamatan,jumlah_kelurahan,ibukota_kecamatan,luas_area,persentase_wilayah,populasi,laju_pertumbuhan,persentase_penduduk,kepadatan_penduduk
0,32.77.01,Cimahi Selatan,5,Utama,16.94,0.4196,242.2,0.65,0.4237,14295
1,32.77.02,Cimahi Tengah,6,Cimahi,10.11,0.2505,161.9,0.08,0.2831,16009
2,32.77.03,Cimahi Utara,4,Cibabat,13.32,0.3299,167.6,1.59,0.2932,12584

## Kabupaten Bandung

### Daftar Kecamatan / Desa di Kabupaten Bandung

In [14]:
kec_kab_bandung = pd.read_excel("Dataset/kecamatan_kabupaten_bandung.xlsx", sheet_name="kecamatan_kab_bandung")
kec_kab_bandung.rename(columns={
    "Kode_x000D_\nKemendagri" : "kode_kemendagri",
    "Kecamatan" : "kecamatan",
    "Jumlah_x000D_\nKelurahan" : "jumlah_kelurahan",
    "Jumlah _x000D_\nDesa" : "jumlah_desa",
    "Daftar_x000D_\nDesa/Kelurahan" : "daftar_desa_kelurahan"
}, inplace=True)
kec_kab_bandung.drop(['Kodepos', 'Status', 'daftar_desa_kelurahan'], axis=1, inplace=True)
kec_kab_bandung.fillna(0, inplace=True)
# kec_kab_bandung.drop_duplicates(inplace=True)
kec_kab_bandung

   kode_kemendagri     kecamatan  jumlah_kelurahan  jumlah_desa
0         32.04.16      Arjasari               0.0           11
1         32.04.32     Baleendah               5.0            3
2         32.04.32     Baleendah               5.0            3
3         32.04.13      Banjaran               0.0           11
4         32.04.08   Bojongsoang               0.0            6
5         32.04.44     Cangkuang               0.0            7
6         32.04.25    Cicalengka               0.0           12
7         32.04.27     Cikancung               0.0            9
8         32.04.07   Cilengkrang               0.0            6
9         32.04.05      Cileunyi               0.0            6
10        32.04.17       Cimaung               0.0           10
11        32.04.06      Cimenyan               2.0            7
12        32.04.06      Cimenyan               2.0            7
13        32.04.29       Ciparay               0.0           14
14        32.04.39       Ciwidey               0.0            7
15        32.04.12   Dayeuhkolot               1.0            5
16        32.04.12   Dayeuhkolot               1.0            5
17        32.04.36          Ibun               0.0           12
18        32.04.11      Katapang               0.0            7
19        32.04.31     Kertasari               0.0            8
20        32.04.46  Kutawaringin               0.0           11
21        32.04.33      Majalaya               0.0           11
22        32.04.10     Margaasih               0.0            6
23        32.04.09     Margahayu               1.0            4
24        32.04.09     Margahayu               1.0            4
25        32.04.26        Nagreg               0.0            8
26        32.04.30         Pacet               0.0           13
27        32.04.14   Pameungpeuk               0.0            6
28        32.04.15   Pangalengan               0.0           13
29        32.04.35         Paseh               0.0           12
30        32.04.38    Pasirjambu               0.0           10
31        32.04.40     Rancabali               0.0            5
32        32.04.28     Rancaekek               1.0           13
33        32.04.28     Rancaekek               1.0           13
34        32.04.34  Solokanjeruk               0.0            7
35        32.04.37       Soreang               0.0           10