In [1]:
# Load package

import pandas as pd
import numpy as np
import math
import seaborn as sns
import matplotlib.pyplot as plt

from scipy import stats

# Populasi Bandung Raya (Cekungan Bandung)

- Kota Bandung
- Kota Cimahi
- Kabupaten Bandung
- Kabupaten Bandung Barat
- Kabupaten Sumedang

## Kota Bandung

### Daftar Kecamatan di Kota Bandung

In [2]:
# This script is used to process an excel file containing data about the districts in Bandung city.
# Next, we read the excel file and assign it to the variable "kec_bandung"
kec_bandung = pd.read_excel(io="Dataset/kecamatan_kota_bandung.xlsx", sheet_name="list_kecamatan")

# We rename the columns to more meaningful names
kec_bandung.rename(columns={
    "Kode _x000D_\nKemendagri" : "kode_kemendagri",
    "Kecamatan" : "kecamatan",
    "Jumlah _x000D_\nKelurahan" : "jumlah_kelurahan",
    "Daftar _x000D_\nKelurahan" : "daftar_kelurahan"
}, inplace=True)

### Luas Kecamatan di Kota Bandung

In [3]:
# This script is used to process an excel file containing data about the area of districts in Bandung city.
# Next, we read the excel file and assign it to the variable "luas_bandung"
luas_bandung = pd.read_excel("Dataset/kecamatan_kota_bandung.xlsx", sheet_name="luas_kecamatan")

# We rename the columns to more meaningful names
luas_bandung.rename(columns={
    "Kecamatan" : "kecamatan",
    "Ibukota Kecamatan" : "ibukota_kecamatan",
    "Luas Area (km2/persegi)" : "luas_area"
}, inplace=True)

### Populasi di Kecamatan Kota Bandung

In [4]:
# This script is used to process an excel file containing data about the population of districts in Bandung city.
# Next, we read the excel file and assign it to the variable "populasi_bandung"
populasi_bandung = pd.read_excel("Dataset/kecamatan_kota_bandung.xlsx", sheet_name="populasi_kecamatan")

# We drop unnecessary column
populasi_bandung.drop(['Populasi (dalam seribu)'], axis=1 ,inplace=True)

# We rename the columns to more meaningful names
populasi_bandung.rename(columns={
    "Kecamatan" : "kecamatan",
    "Populasi" : "populasi",
    "Laju Pertumbuhan Pertumbuhan Penduduk per Tahun (%)" : "laju_pertumbuhan"
}, inplace=True)

### Kepadatan Penduduk di Kecamatan Kota Bandung

In [5]:
# This script is used to process an excel file containing data about the population density of districts in Bandung city.
# Next, we read the excel file and assign it to the variable "density_bandung"
density_bandung = pd.read_excel("Dataset/kecamatan_kota_bandung.xlsx", sheet_name="density_kecamatan")

# We rename the columns to more meaningful names
density_bandung.rename(columns={
    "Kecamatan" : "kecamatan",
    "Persentase Penduduk" : "persentase_penduduk",
    "Kepadatan Penduduk per km**2" : "kepadatan_penduduk"
}, inplace=True)

### Proporsi Penduduk di Kota Bandung Berdasarkan Jenis Kelamin dan Kelompok Umur

In [6]:
# This script is used to process an excel file containing data about the age and sex proportion of districts in Bandung city.
# Next, we read the excel file and assign it to the variable "proporsi_age_sex_bandung"
proporsi_age_sex_bandung = pd.read_excel("Dataset/kecamatan_kota_bandung.xlsx", sheet_name="proporsi_kelompok_umur")

# Finally, we print the processed data
display(proporsi_age_sex_bandung)

   Kelompok Umur  Laki-laki  Perempuan   Total
0            0-4      92798      88580  181378
1            5-9      90935      87077  178012
2          10-14      98826      93211  192037
3          15-19     102232      96706  198938
4          20-24     100290      97357  197647
5          25-29     101090      98185  199275
6          30-34      97745      93728  191473
7          35-39      98581      92833  191414
8          40-44      96582      93003  189585
9          45-49      85944      84974  170918
10         50-54      76611      77989  154600
11         55-59      64166      67580  131746
12         60-64      50611      53561  104172
13         65-69      38312      41893   80205

In [7]:
usia_prod_bandung = np.sum(proporsi_age_sex_bandung.iloc[3:7]['Total']) / np.sum(proporsi_age_sex_bandung['Total'])

print(f'Terdapat rasio sebesar {usia_prod_bandung:.2%} jiwa pada usia produktif (15-34 Tahun) di Kota Bandung')

Terdapat rasio sebesar 33.34% jiwa pada usia produktif (15-34 Tahun) di Kota Bandung

### DataFrame Gabungan Kota Bandung

In [8]:
# This script is used to merge multiple dataframes containing data about districts in Bandung city and create a final dataframe.

# First, we merge the dataframe "kec_bandung" and "luas_bandung" using the 'left' merge method and assign it to the variable "merged_bandung_1"
merged_bandung_1 = pd.merge(kec_bandung, luas_bandung, how='left')

# Next, we merge the dataframe "populasi_bandung" and "density_bandung" using the 'left' merge method and assign it to the variable "merged_bandung_2"
merged_bandung_2 = pd.merge(populasi_bandung, density_bandung, how='left')

# Then we merge the previous 2 dataframes using the 'left' merge method and assign it to the variable "df_kota_bandung"
df_kota_bandung = pd.merge(merged_bandung_1, merged_bandung_2, how='left')

# Finally, we drop the unnecessary column
df_kota_bandung.drop(["daftar_kelurahan"], axis=1, inplace=True)

df_kota_bandung.rename(columns={
    'jumlah_kelurahan' : 'jumlah_desa_kelurahan'
}, inplace=True)

#print the final dataframe
display(df_kota_bandung)

,kode_kemendagri,kecamatan,jumlah_desa_kelurahan,ibukota_kecamatan,luas_area,populasi,laju_pertumbuhan,persentase_penduduk,kepadatan_penduduk
0,32.73.05,Andir,6,Garuda,3.71,96500,0.13,3.93,22856.0
1,32.73.10,Astanaanyar,6,Panjunan,2.89,68500,0.19,2.79,25553.0
2,32.73.20,Antapani,4,Antapani Wetan,3.79,80000,1.12,3.26,18958.0
3,32.73.24,Arcamanik,4,Cisaranten Kulon,5.87,78400,2.00,3.20,10335.0
4,32.73.03,Babakan Ciparay,6,Babakan Ciparay,7.45,142400,0.02,5.81,20146.0
5,32.73.21,Bandung Kidul,4,Mengger,6.06,60200,0.44,2.46,11115.0
6,32.73.15,Bandung Kulon,8,Caringin,6.46,138800,0.01,5.66,19976.0
7,32.73.09,Bandung Wetan,3,Tamansari,3.39,26700,0.01,1.09,7764.0
8,32.73.12,Batununggal,8,Gumuruh,5.03,115400,0.01,4.71,23945.0
9,32.73.04,Bojongloa Kaler,5,Suka Asih,3.03,119400,0.09,4.87,38267.0
10,32.73.17,Bojongloa Kidul,6,Situsaeur,6.26,87100,0.35,3.55,16741.0
11,32.73.22,Buah Batu,4,Margasari,7.93,101200,0.98,4.13,13567.0
12,32.73.18,Cibeunying Kaler,4,Cigadung,4.50,67100,0.02,2.73,14456.0
13,32.73.14,Cibeunying Kidul,6,Cikutra,5.25,107700,0.22,4.39,26007.0
14,32.73.25,Cibiru,4,Cipadung,6.32,72600,0.74,2.96,10609.0
15,32.73.06,Cicendo,6,Arjuna,6.86,92200,0.05,3.76,11841.0
16,32.73.08,Cidadap,3,Hegarmanah,6.11,52600,0.01,2.14,6247.0
17,32.73.29,Cinambo,4,Pakemitan,3.68,25500,0.72,1.04,6006.0
18,32.73.02,Coblong,6,Dago,7.35,110100,0.04,4.49,15063.0
19,32.73.27,Gedebage,4,Rancabolang,9.58,42400,2.41,1.73,4262.0
20,32.73.16,Kiaracondong,6,Babakan Sari,6.12,126600,0.01,5.16,21834.0
21,32.73.13,Lengkong,7,Malabar,5.90,66100,0.01,2.69,11185.0
22,32.73.30,Mandalajati,4,Karang Pamulang,6.57,72500,1.97,2.96,15113.0
23,32.73.28,Panyileukan,4,Mekar Mulya,5.10,40100,0.61,1.64,7554.0
24,32.73.23,Rancasari,4,Cipamokolan,7.33,84800,1.75,3.46,12102.0
25,32.73.11,Regol,7,Ciseureuh,4.30,79100,0.02,3.23,16696.0
26,32.73.07,Sukajadi,5,Sukagalih,4.30,100500,0.01,4.10,19038.0
27,32.73.01,Sukasari,4,Sukarasa,6.27,74700,0.02,3.04,11743.0
28,32.73.19,Sumur Bandung,4,Merdeka,3.40,34100,0.02,1.39,9777.0
29,32.73.26,Ujungberung,5,Cigending,6.40,89300,2.37,3.64,14318.0

## Kota Cimahi

### Daftar Kecamatan di Kota Cimahi

In [9]:
# This script is used to process an excel file containing data about the districts in Cimahi city.
# Next, we read the excel file and assign it to the variable "kec_cimahi"
kec_cimahi = pd.read_excel("Dataset/kecamatan_kota_cimahi.xlsx", sheet_name="kecamatan_kota_cimahi")

# We rename the columns to more meaningful names
kec_cimahi.rename(columns={
    "Kode _x000D_\nKemendagri" : "kode_kemendagri",
    "Kecamatan" : "kecamatan",
    "Jumlah _x000D_\nKelurahan" : "jumlah_kelurahan",
    "Daftar _x000D_\nKelurahan" : "daftar_kelurahan"
}, inplace=True)

### Luas Kecamatan di Kota Cimahi

In [10]:
# This script is used to process an excel file containing data about the area of districts in Cimahi city.
# Next, we read the excel file and assign it to the variable "luas_cimahi"
luas_cimahi = pd.read_excel("Dataset/kecamatan_kota_cimahi.xlsx", sheet_name="luas_kecamatan")

# We rename the columns to more meaningful names
luas_cimahi.rename(columns={
    "Kecamatan" : "kecamatan",
    "Ibukota Kecamatan" : "ibukota_kecamatan",
    "Luas Area" : "luas_area",
    "Persentase Total" : "persentase_wilayah"
}, inplace=True)

# We convert the persentase wilayah column into decimal
luas_cimahi['persentase_wilayah'] = luas_cimahi['persentase_wilayah'].apply(lambda x: x/100)

### Populasi di Kecamatan Kota Cimahi

In [11]:
# This script is used to process an excel file containing data about the population of districts in Cimahi city.
# Next, we read the excel file and assign it to the variable "populasi_cimahi"
populasi_cimahi = pd.read_excel("Dataset/kecamatan_kota_cimahi.xlsx", sheet_name="populasi_kecamatan")

# We rename the columns to more meaningful names
populasi_cimahi.rename(columns={
    "Kecamatan" : "kecamatan",
    "Populasi" : "populasi",
    "Laju Pertumbuhan" : "laju_pertumbuhan"
}, inplace=True)

### Kepadatan Penduduk di Kota Cimahi

In [12]:
# This script is used to process an excel file containing data about the population density of districts in Cimahi city.
# Next, we read the excel file and assign it to the variable "density_cimahi"
density_cimahi = pd.read_excel("Dataset/kecamatan_kota_cimahi.xlsx", sheet_name="density_kecamatan")

# We rename the columns to more meaningful names
density_cimahi.rename(columns={
    "Kecamatan" : "kecamatan",
    "Persentase Penduduk (%)" : "persentase_penduduk",
    "Kepadatan Penduduk" : "kepadatan_penduduk"
}, inplace=True)

# We convert the persentase penduduk column into decimal
density_cimahi['persentase_penduduk'] = density_cimahi['persentase_penduduk'].apply(lambda x: x/100)

### Proporsi Penduduk di Kota Cimahi berdasarkan jenis kelamin dan kelompok umur

In [13]:
# This script is used to process an excel file containing data about the age and sex proportion of districts in Cimahi city.
# Next, we read the excel file and assign it to the variable "proporsi_age_sex_cimahi"
proporsi_age_sex_cimahi = pd.read_excel("Dataset/kecamatan_kota_cimahi.xlsx", sheet_name="proporsi_kelompok_umur")

# Finally, we print the processed data
proporsi_age_sex_cimahi

   Kelompok Umur  Laki-laki  Perempuan  Total
0            0-4      21391      20550  41941
1            5-9      21403      20558  41961
2          10-14      23832      22468  46300
3          15-19      24779      23639  48418
4          20-24      24417      23991  48408
5          25-29      24625      23558  48183
6          30-34      22977      21435  44412
7          35-39      22544      21674  44218
8          40-44      22902      22705  45607
9          45-49      20771      20840  41611
10         50-54      18160      18349  36509
11         55-59      14403      15038  29441
12         60-64      11036      10857  21893
13         60-64      11036      10857  21893
14         65-69       7593       8241  15834
15         70-74       4071       4732   8803
16           75+       3458       4635   8093

In [14]:
usia_prod_cimahi = np.sum(proporsi_age_sex_cimahi.iloc[3:7]['Total']) / np.sum(proporsi_age_sex_cimahi['Total'])

print(f'Terdapat rasio sebesar {usia_prod_cimahi:.2%} jiwa pada usia produktif (15-34 Tahun) di Kota Cimahi')

Terdapat rasio sebesar 31.91% jiwa pada usia produktif (15-34 Tahun) di Kota Cimahi

### DataFrame Gabungan Kota Cimahi

In [15]:
# This script is used to merge multiple dataframes containing data about districts in Cimahi city and create a final dataframe.

# First, we merge the dataframe "kec_cimahi" and "luas_cimahi" using the 'left' merge method and assign it to the variable "merged_cimahi_1"
merged_cimahi_1 = pd.merge(kec_cimahi, luas_cimahi, how='left')

# Next, we merge the dataframe "populasi_cimahi" and "density_cimahi" using the 'left' merge method and assign it to the variable "merged_cimahi_2"
merged_cimahi_2 = pd.merge(populasi_cimahi, density_cimahi, how='left')

# Then we merge the previous 2 dataframes using the 'left' merge method and assign it to the variable "df_kota_cimahi"
df_kota_cimahi = pd.merge(merged_cimahi_1, merged_cimahi_2, how='left')

# we drop the unnecessary column
df_kota_cimahi.drop(['daftar_kelurahan', 'persentase_wilayah'], axis=1, inplace=True)

df_kota_cimahi.rename(columns={
    'jumlah_kelurahan' : 'jumlah_desa_kelurahan'
}, inplace=True)

# transform populasi to integer
df_kota_cimahi['populasi'] = df_kota_cimahi['populasi'].apply(lambda x: x * 1000)
df_kota_cimahi['populasi'] = df_kota_cimahi['populasi'].astype('int64')

#print the final dataframe
display(df_kota_cimahi)

,kode_kemendagri,kecamatan,jumlah_desa_kelurahan,ibukota_kecamatan,luas_area,populasi,laju_pertumbuhan,persentase_penduduk,kepadatan_penduduk
0,32.77.01,Cimahi Selatan,5,Utama,16.94,242200,0.65,0.4237,14295
1,32.77.02,Cimahi Tengah,6,Cimahi,10.11,161900,0.08,0.2831,16009
2,32.77.03,Cimahi Utara,4,Cibabat,13.32,167600,1.59,0.2932,12584

## Kabupaten Bandung

### Daftar Kecamatan / Desa di Kabupaten Bandung

In [16]:
# This script is used to process an excel file containing data about the districts and sub-districts of Bandung Regency.
# Next, we read the excel file and assign it to the variable "kec_kab_bandung"
kec_kab_bandung = pd.read_excel("Dataset/kecamatan_kabupaten_bandung.xlsx", sheet_name="kecamatan_kab_bandung")

# We rename the columns to more meaningful names
kec_kab_bandung.rename(columns={
    "Kode_x000D_\nKemendagri" : "kode_kemendagri",
    "Kecamatan" : "kecamatan",
    "Jumlah_x000D_\nKelurahan" : "jumlah_kelurahan",
    "Jumlah _x000D_\nDesa" : "jumlah_desa",
    "Daftar_x000D_\nDesa/Kelurahan" : "daftar_desa_kelurahan"
}, inplace=True)

# We drop the unnecessary columns
kec_kab_bandung.drop(['Kodepos', 'Status', 'daftar_desa_kelurahan'], axis=1, inplace=True)

# We fill in the missing values with 0
kec_kab_bandung.fillna(0, inplace=True)

# We drop the duplicate rows
kec_kab_bandung.drop_duplicates(keep='first', inplace=True)

# We create a new column for the total number of sub-districts by adding the number of villages and the number of sub-districts.
kec_kab_bandung['jumlah_desa_kelurahan'] = kec_kab_bandung['jumlah_desa'] + kec_kab_bandung['jumlah_kelurahan']

# We change the type of the new column to int64
kec_kab_bandung['jumlah_desa_kelurahan'] = kec_kab_bandung["jumlah_desa_kelurahan"].astype('int64')

# We drop the original columns for villages and sub-districts
kec_kab_bandung.drop(['jumlah_kelurahan', 'jumlah_desa'], axis=1, inplace=True)

# Finally, we print the processed data
display(kec_kab_bandung)

   kode_kemendagri     kecamatan  jumlah_desa_kelurahan
0         32.04.16      Arjasari                     11
1         32.04.32     Baleendah                      8
3         32.04.13      Banjaran                     11
4         32.04.08   Bojongsoang                      6
5         32.04.44     Cangkuang                      7
6         32.04.25    Cicalengka                     12
7         32.04.27     Cikancung                      9
8         32.04.07   Cilengkrang                      6
9         32.04.05      Cileunyi                      6
10        32.04.17       Cimaung                     10
11        32.04.06      Cimenyan                      9
13        32.04.29       Ciparay                     14
14        32.04.39       Ciwidey                      7
15        32.04.12   Dayeuhkolot                      6
17        32.04.36          Ibun                     12
18        32.04.11      Katapang                      7
19        32.04.31     Kertasari                      8
20        32.04.46  Kutawaringin                     11
21        32.04.33      Majalaya                     11
22        32.04.10     Margaasih                      6
23        32.04.09     Margahayu                      5
25        32.04.26        Nagreg                      8
26        32.04.30         Pacet                     13
27        32.04.14   Pameungpeuk                      6
28        32.04.15   Pangalengan                     13
29        32.04.35         Paseh                     12
30        32.04.38    Pasirjambu                     10
31        32.04.40     Rancabali                      5
32        32.04.28     Rancaekek                     14
34        32.04.34  Solokanjeruk                      7
35        32.04.37       Soreang                     10

### Luas Kecamatan di Kabupaten Bandung

In [17]:
# This script is used to process an excel file containing data about the area of districts in Bandung Regency.
# Next, we read the excel file and assign it to the variable "luas_kab_bandung"
luas_kab_bandung = pd.read_excel("Dataset/kecamatan_kabupaten_bandung.xlsx", sheet_name="luas_kecamatan")

# We rename the columns to more meaningful names
luas_kab_bandung.rename(columns={
    "Kecamatan" : "kecamatan",
    "Ibukota Kecamatan" : "ibukota_kecamatan",
    "Luas Area" : "luas_area"
}, inplace=True)

# We capitalize the name of each district
luas_kab_bandung['kecamatan'] = luas_kab_bandung['kecamatan'].apply(lambda x: x.capitalize())

### Populasi di Kecamatan Kabupaten Bandung

In [18]:
# This script is used to process an excel file containing data about the population of districts in Bandung Regency.
# Next, we read the excel file and assign it to the variable "populasi_kab_bandung"
populasi_kab_bandung = pd.read_excel("Dataset/kecamatan_kabupaten_bandung.xlsx", sheet_name="populasi_kecamatan")

# We drop the unnecessary columns
populasi_kab_bandung.drop(['Populasi (2020)', 'Laju Pertumbuhan (2010-2021)'], axis=1, inplace=True)

# We rename the columns to more meaningful names
populasi_kab_bandung.rename(columns={
    "Kecamatan" : "kecamatan",
    "Populasi (2021)" : "populasi",
    "Laju Pertumbuhan (2020-2021)" : "laju_pertumbuhan"
}, inplace=True)

# We capitalize the name of each district
populasi_kab_bandung['kecamatan'] = populasi_kab_bandung['kecamatan'].apply(lambda x: x.capitalize())

### Kepadatan Penduduk di Kecamatan Kabupaten Bandung

In [19]:
# This script is used to process an excel file containing data about the population density of districts in Bandung Regency.
# Next, we read the excel file and assign it to the variable "density_kab_bandung"
density_kab_bandung = pd.read_excel("Dataset/kecamatan_kabupaten_bandung.xlsx", sheet_name="density_kecamatan")

# We drop the unnecessary columns
density_kab_bandung.drop(['Persentase Penduduk (2020)', 'Kepadatan Penduduk (2020)'], axis=1, inplace=True)

# We rename the columns to more meaningful names
density_kab_bandung.rename(columns={
    "Kecamatan" : "kecamatan",
    "Persentase Penduduk (2021)" : "persentase_penduduk",
    "Kepadatan Penduduk (2021)" : "kepadatan_penduduk"
}, inplace=True)

# We capitalize the name of each district
density_kab_bandung['kecamatan'] = density_kab_bandung['kecamatan'].apply(lambda x: x.capitalize())

### Proporsi Penduduk di Kabupaten Bandung Berdasarkan Jenis Kelamin dan Kelompok Umur

In [20]:
# This script is used to process an excel file containing data about the age and sex proportion of districts in Bandung Regency.
# Next, we read the excel file and assign it to the variable "proporsi_age_sex_kab_bandung"
proporsi_age_sex_kab_bandung = pd.read_excel("Dataset/kecamatan_kabupaten_bandung.xlsx", sheet_name="proporsi_kelompok_umur")

# Finally, we print the processed data
proporsi_age_sex_kab_bandung

   Kelompok Umur  Laki-Laki  Perempuan   Total
0            0-4     161971     144298  315527
1            5-9     157161     141630  308162
2          10-14     171611     151855  333521
3          15-19     166668     147454  323784
4          20-24     158191     142995  310176
5          25-29     154199     138702  302176
6          30-34     144649     128536  281709
7          35-39     145686     130767  285113
8          40-44     140981     129538  278674
9          45-49     123727     113923  245165
10         50-54     103251      93441  203007
11         55-59      84559      77248  167157
12         60-64      63372      56731  124186
13         65-69      46177      42108   91804
14         70-74      25649      23476   51077
15           75+      21157      21741   44918

In [21]:
usia_prod_kab_bandung = np.sum(proporsi_age_sex_kab_bandung.iloc[3:7]['Total']) / np.sum(proporsi_age_sex_kab_bandung['Total'])

print(f'Terdapat rasio sebesar {usia_prod_kab_bandung:.2%} jiwa pada usia produktif (15-34 Tahun) di Kabupaten Bandung')

Terdapat rasio sebesar 33.22% jiwa pada usia produktif (15-34 Tahun) di Kabupaten Bandung

### DataFrame Gabungan Kabupaten Bandung

In [22]:
merged_kab_bandung_1 = pd.merge(kec_kab_bandung, luas_kab_bandung, how='left')
merged_kab_bandung_2 = pd.merge(populasi_kab_bandung, density_kab_bandung, how='left')
df_kab_bandung = pd.merge(merged_kab_bandung_1, merged_kab_bandung_2, how='left')
df_kab_bandung

,kode_kemendagri,kecamatan,jumlah_desa_kelurahan,ibukota_kecamatan,luas_area,populasi,laju_pertumbuhan,persentase_penduduk,kepadatan_penduduk
0,32.04.16,Arjasari,11,Patrolsari,64.98,107073,1.40,2.92,1648
1,32.04.32,Baleendah,8,Baleendah,41.56,267934,1.60,7.31,6447
2,32.04.13,Banjaran,11,Banjaran,42.92,133989,1.37,3.65,3122
3,32.04.08,Bojongsoang,6,Bojongsoang,27.81,113645,0.86,3.10,4086
4,32.04.44,Cangkuang,7,Ciluncat,24.61,81291,2.04,2.22,3303
5,32.04.25,Cicalengka,12,Cicalengka Kulon,35.99,123452,1.06,3.37,3430
6,32.04.27,Cikancung,9,Cikancung,40.14,98230,1.57,2.68,2447
7,32.04.07,Cilengkrang,6,Jatiendah,30.12,57037,1.82,1.56,1894
8,32.04.05,Cileunyi,6,Cileunyi,31.58,189099,1.37,5.16,5988
9,32.04.17,Cimaung,10,Cipinang,55.00,87419,1.56,2.38,1589
10,32.04.06,Cimenyan,9,Cimenyan,53.08,115626,0.92,3.15,2178
11,32.04.29,Ciparay,14,Pakutandang,46.18,174756,1.26,4.77,3784
12,32.04.39,Ciwidey,7,Lebakmuncang,48.47,87815,1.58,2.40,1812
13,32.04.12,Dayeuhkolot,6,Citeureup,11.03,107200,0.01,2.92,9719
14,32.04.36,Ibun,12,lbun,54.57,88154,1.30,2.40,1615
15,32.04.11,Katapang,7,Sangkanhurip,15.72,132675,1.73,3.62,8440
16,32.04.31,Kertasari,8,Cibeureum,152.07,71763,0.71,1.96,472
17,32.04.46,Kutawaringin,11,Jatisari,47.30,103791,1.30,2.83,2194
18,32.04.33,Majalaya,11,Majasetra,25.36,161426,0.50,4.40,6365
19,32.04.10,Margaasih,6,Margaasih,18.35,150014,0.99,4.09,8175
20,32.04.09,Margahayu,5,Sukamenak,10.54,121623,0.01,3.32,11539
21,32.04.26,Nagreg,8,Ganjarsabar,49.30,59363,1.64,1.62,1204
22,32.04.30,Pacet,13,Cikitu,91.94,116452,1.20,3.18,1267
23,32.04.14,Pameungpeuk,6,Sukasari,14.62,86045,1.76,2.35,5885
24,32.04.15,Pangalengan,13,Pangalengan,195.41,155718,0.93,4.25,797
25,32.04.35,Paseh,12,Tangsimekar,51.03,137880,1.23,3.76,2702
26,32.04.38,Pasirjambu,10,Pasirjambu,239.58,92302,1.22,2.52,385
27,32.04.40,Rancabali,5,Patengan,148.37,51403,0.60,1.40,346
28,32.04.28,Rancaekek,14,Rancaekek Wetan,45.25,187396,1.02,5.11,4141
29,32.04.34,Solokanjeruk,7,Solokanjeruk,24.01,87688,1.04,2.39,3652
30,32.04.37,Soreang,10,Soreang,25.51,117897,1.07,3.22,4622

## Kabupaten Bandung Barat

### Daftar Kecamatan di Kabupaten Bandung Barat

In [23]:
# This script is used to process an excel file containing data about the districts in Bandung Barat Regency.
# Next, we read the excel file and assign it to the variable "kec_bandung_barat"
kec_bandung_barat = pd.read_excel("Dataset/kecamatan_kabupaten_bandung_barat.xlsx", sheet_name="kecamatan_kab_bandung_barat")

# We rename the columns to more meaningful names
kec_bandung_barat.rename(columns={
    'Kode _x000D_\nKemendagri' : 'kode_kemendagri',
    'Kecamatan' : 'kecamatan',
    'Jumlah _x000D_\nDesa' : 'jumlah_desa',
    'Daftar _x000D_\nDesa' : 'daftar_desa'
}, inplace=True)

### Luas Kecamatan di Kabupaten Bandung Barat

In [24]:
# This script is used to process an excel file containing data about the area of districts in Bandung Barat Regency.
# Next, we read the excel file and assign it to the variable "luas_bandung_barat"
luas_bandung_barat = pd.read_excel("Dataset/kecamatan_kabupaten_bandung_barat.xlsx", sheet_name="luas_kecamatan")

# We rename the columns to more meaningful names
luas_bandung_barat.rename(columns={
    "Kecamatan" : "kecamatan",
    "Ibukota Kecamatan" : "ibukota_kecamatan",
    "Luas Area" : "luas_area"
}, inplace=True)

### Populasi Penduduk tiap Kecamatan di Kabupaten Bandung Barat

In [25]:
# This script is used to process an excel file containing data about the population of districts in Bandung Barat Regency.
# Next, we read the excel file and assign it to the variable "populasi_bandung_barat"
populasi_bandung_barat = pd.read_excel("Dataset/kecamatan_kabupaten_bandung_barat.xlsx", sheet_name="populasi_kecamatan")

# We drop the unnecessary columns
populasi_bandung_barat.drop(['Populasi (2020)', 'Laju Pertumbuhan (2020)'], axis=1, inplace=True)

# We rename the columns to more meaningful names
populasi_bandung_barat.rename(columns={
    "Kecamatan" : "kecamatan",
    "Populasi (2021)" : "populasi",
    "Laju Pertumbuhan (2021)" : "laju_pertumbuhan"
}, inplace=True)

### Kepadatan Penduduk tiap Kecamatan di Kabupaten Bandung Barat

In [26]:
# This script is used to process an excel file containing data about the population density of districts in Bandung Barat Regency.
# Next, we read the excel file and assign it to the variable "density_bandung_barat"
density_bandung_barat = pd.read_excel("Dataset/kecamatan_kabupaten_bandung_barat.xlsx", sheet_name="density_kecamatan")

# We drop the unnecessary columns
density_bandung_barat.drop(['Persentase Penduduk (2020)', 'Kepadatan Penduduk (2020)'], axis=1, inplace=True)

# We rename the columns to more meaningful names
density_bandung_barat.rename(columns={
    "Kecamatan" : "kecamatan",
    "Persentase Penduduk (2021)" : "persentase_penduduk",
    "Kepadatan Penduduk (2021)" : "kepadatan_penduduk"
}, inplace=True)

### Proporsi Penduduk di Kabupaten Bandung Barat Berdasarkan Jenis Kelamin dan Kelompok Umur

In [27]:
# This script is used to process an excel file containing data about the age and sex proportion of districts in Bandung Barat Regency.
# Next, we read the excel file and assign it to the variable "proporsi_age_sex_bandung_barat"
proporsi_age_sex_bandung_barat = pd.read_excel("Dataset/kecamatan_kabupaten_bandung_barat.xlsx", sheet_name="proporsi_kelompok_umur")

# Finally, we print the processed data
proporsi_age_sex_bandung_barat

   Kelompok Umur  Laki-Laki  Perempuan   Total
0            0-4      75999      72689  148668
1            5-9      75563      71631  147194
2          10-14      78289      74008  152297
3          15-19      82345      76923  159268
4          20-24      79406      73491  152897
5          25-29      76409      73470  149879
6          30-34      70815      68736  139551
7          35-39      71251      69427  140678
8          40-44      67914      65803  133717
9          45-49      61943      61266  123209
10         50-54      52425      50996  103421
11         55-59      44493      42492   86985
12         65-69      25037      24091   49128
13         70-74      15392      15406   30798
14           75+      14847      15992   30839

In [28]:
usia_prod_bandung_barat = np.sum(proporsi_age_sex_bandung_barat.iloc[3:7]['Total']) / np.sum(proporsi_age_sex_bandung_barat['Total'])

print(f'Terdapat rasio sebesar {usia_prod_bandung_barat:.2%} jiwa pada usia produktif (15-34 Tahun) di Kabupaten Bandung Barat')

Terdapat rasio sebesar 34.41% jiwa pada usia produktif (15-34 Tahun) di Kabupaten Bandung Barat

### DataFrame Gabungan Kabupaten Bandung Barat

In [29]:
merged_bandung_barat_1 = pd.merge(kec_bandung_barat, luas_bandung_barat, how='left')
merged_bandung_barat_2 = pd.merge(populasi_bandung_barat, density_bandung_barat, how='left')
df_bandung_barat = pd.merge(merged_bandung_barat_1, merged_bandung_barat_2, how='left')
df_bandung_barat.drop(['daftar_desa'], axis=1, inplace=True)
df_bandung_barat.rename(columns={
    'jumlah_desa' : 'jumlah_desa_kelurahan'
}, inplace=True)
df_bandung_barat

,kode_kemendagri,kecamatan,jumlah_desa_kelurahan,ibukota_kecamatan,luas_area,populasi,laju_pertumbuhan,persentase_penduduk,kepadatan_penduduk
0,32.17.09,Batujajar,8,Batujajar,32.04,109877,2.10,6.06,3429.4
1,32.17.10,Cihampelas,10,Cihampelas,46.99,135732,2.53,7.48,2888.5
2,32.17.04,Cikalong Wetan,13,Cikalong Wetan,112.93,129919,1.62,7.16,1150.4
3,32.17.11,Cililin,11,Cililin,77.79,96892,1.70,5.34,1245.6
4,32.17.07,Cipatat,12,Cipatat,126.05,142221,1.58,7.84,1128.3
5,32.17.05,Cipeundeuy,12,Cipeundeuy,101.09,89226,1.59,4.92,882.6
6,32.17.12,Cipongkor,14,Cipongkor,79.96,101744,1.96,5.61,1272.4
7,32.17.03,Cisarua,8,Cisarua,55.11,80298,1.65,4.43,1457.0
8,32.17.15,Gununghalu,9,Gununghalu,160.64,80135,1.42,4.42,498.8
9,32.17.01,Lembang,16,Lembang,95.56,199756,1.28,11.01,2090.4
10,32.17.01,Lembang,16,Lembang,95.56,199756,1.28,11.01,2090.4
11,32.17.06,Ngamprah,11,Ngamprah,36.01,179782,1.38,9.91,4992.6
12,32.17.08,Padalarang,10,Padalarang,51.40,183700,1.50,10.13,3573.9
13,32.17.02,Parongpong,7,Parongpong,45.15,114372,1.42,6.30,2533.2
14,32.17.13,Rongga,8,Rongga,113.12,61507,1.59,3.39,543.7
15,32.17.16,Saguling,6,Saguling,51.46,34461,2.10,1.90,669.7
16,32.17.14,Sindangkerta,11,Sindangkerta,120.47,74604,1.77,4.11,619.3

## Kabupaten Sumedang

### Daftar Kecamatan di Kabupaten Sumedang

In [30]:
# This script is used to process an excel file containing data about the districts in Sumedang Regency.
# Next, we read the excel file and assign it to the variable "kec_sumedang"
kec_sumedang = pd.read_excel("Dataset/kecamatan_kabupaten_sumedang.xlsx", sheet_name="list_kecamatan")

# We rename the columns to more meaningful names
kec_sumedang.rename(columns={
    'Kode_x000D_\nKemendagri' : 'kode_kemendagri',
    'Kecamatan' : 'kecamatan',
    'Jumlah_x000D_\nKelurahan' : 'jumlah_kelurahan',
    'Jumlah_x000D_\nDesa' : 'jumlah_desa',
    'Daftar_x000D_\nDesa/Kelurahan' : 'daftar_desa_kelurahan'
}, inplace=True)

kec_sumedang = kec_sumedang.fillna(0)
kec_sumedang['jumlah_kelurahan'] = kec_sumedang['jumlah_kelurahan'].astype('int64')
kec_sumedang.drop(['Status', 'daftar_desa_kelurahan'], axis=1, inplace=True)
kec_sumedang.drop_duplicates(keep='first', inplace=True)
kec_sumedang['jumlah_desa_kelurahan'] = kec_sumedang['jumlah_kelurahan'] + kec_sumedang['jumlah_desa']
kec_sumedang.drop(['jumlah_kelurahan', 'jumlah_desa'], axis=1, inplace=True)

### Luas Wilayah tiap Kecamatan di Kabupaten Sumedang

In [31]:
# This script is used to process an excel file containing data about the area of districts in Sumedang Regency.
# Next, we read the excel file and assign it to the variable "luas_bandung_barat"
luas_sumedang = pd.read_excel("Dataset/kecamatan_kabupaten_sumedang.xlsx", sheet_name="luas_kecamatan")

# We rename the columns to more meaningful names
luas_sumedang.rename(columns={
    "Kecamatan" : "kecamatan",
    "Ibukota Kecamatan" : "ibukota_kecamatan",
    "Luas Area" : "luas_area"
}, inplace=True)

luas_sumedang['kecamatan'] = luas_sumedang['kecamatan'].apply(lambda x: x.title())
luas_sumedang['ibukota_kecamatan'] = luas_sumedang['ibukota_kecamatan'].apply(lambda x: x.title())

### Populasi Penduduk tiap Kecamatan di Kabupaten Sumedang

In [32]:
# This script is used to process an excel file containing data about the population of districts in Sumedang Regency.
# Next, we read the excel file and assign it to the variable "populasi_sumedang"
populasi_sumedang = pd.read_excel("Dataset/kecamatan_kabupaten_sumedang.xlsx", sheet_name="populasi_kecamatan")

# We drop the unnecessary columns
populasi_sumedang.drop(['Populasi (Ribu)'], axis=1, inplace=True)

# We rename the columns to more meaningful names
populasi_sumedang.rename(columns={
    "Kecamatan" : "kecamatan",
    "Populasi" : "populasi",
    "Laju Pertumbuhan" : "laju_pertumbuhan"
}, inplace=True)

### Kepadatan Penduduk tiap Kecamatan di Kabupaten Sumedang

In [33]:
# This script is used to process an excel file containing data about the population density of districts in Sumedang Regency.
# Next, we read the excel file and assign it to the variable "density_sumedang"
density_sumedang = pd.read_excel("Dataset/kecamatan_kabupaten_sumedang.xlsx", sheet_name="density_kecamatan")

# We rename the columns to more meaningful names
density_sumedang.rename(columns={
    "Kecamatan" : "kecamatan",
    "Persentase Penduduk" : "persentase_penduduk",
    "Kepadatan Penduduk" : "kepadatan_penduduk"
}, inplace=True)

### Proporsi Penduduk di Kabupaten Sumedang Berdasarkan Jenis Kelamin dan Kelompok Umur

In [34]:
# This script is used to process an excel file containing data about the age and sex proportion of districts in Sumedang Regency.
# Next, we read the excel file and assign it to the variable "proporsi_age_sex_sumedang"
proporsi_age_sex_sumedang = pd.read_excel("Dataset/kecamatan_kabupaten_sumedang.xlsx", sheet_name="proporsi_kelompok_umur")

# Finally, we print the processed data
proporsi_age_sex_sumedang

   Kelompok Umur  Laki-laki  Perempuan  Total
0            0-4      42834      40513  83347
1            4-9      41945      40161  82106
2          10-14      44831      42379  87210
3          15-19      50052      46109  96161
4          20-24      47394      43494  90888
5          25-29      46015      43242  89257
6          30-34      40912      39775  80687
7          35-39      41284      39849  81133
8          40-44      38763      38657  77420
9          45-49      37167      38955  76122
10         50-54      37737      39564  77301
11         55-59      35373      36643  72016
12         60-64      29659      30655  60314
13         65-69      24917      26088  51005
14         70-74      17489      17760  35249
15           75+       8879      10251  19130

In [35]:
usia_prod_sumedang = np.sum(proporsi_age_sex_sumedang.iloc[3:7]['Total']) / np.sum(proporsi_age_sex_sumedang['Total'])

print(f'Terdapat rasio sebesar {usia_prod_sumedang:.2%} jiwa pada usia produktif (15-34 Tahun) di Kabupaten Sumedang')

Terdapat rasio sebesar 30.79% jiwa pada usia produktif (15-34 Tahun) di Kabupaten Sumedang

### DataFrame Gabungan Kabupaten Sumedang

In [36]:
merged_sumedang_1 = pd.merge(kec_sumedang, luas_sumedang, how='left')
merged_sumedang_2 = pd.merge(populasi_sumedang, density_sumedang, how='left')
df_kab_sumedang = pd.merge(merged_sumedang_1, merged_sumedang_2, how='left')
df_kab_sumedang

,kode_kemendagri,kecamatan,jumlah_desa_kelurahan,ibukota_kecamatan,luas_area,populasi,laju_pertumbuhan,persentase_penduduk,kepadatan_penduduk
0,32.11.10,Buahdua,14,Buahdua,107.68,31900,-2.55,2.75,243
1,32.11.04,Cibugel,7,Cibugel,59.52,24000,11.76,2.07,492
2,32.11.22,Cimalaka,14,Cimalaka,43.29,62400,4.73,5.38,1500
3,32.11.14,Cimanggung,11,Sindangpakuon,55.55,88200,5.24,7.61,2164
4,32.11.23,Cisarua,7,Cisarua,17.71,20300,4.84,1.75,1075
5,32.11.05,Cisitu,10,Situmekar,65.03,30100,10.94,2.59,564
6,32.11.07,Conggeang,12,Conggeang Wetan,106.98,28200,-3.03,2.43,268
7,32.11.03,Darmaraja,12,Darmaraja,49.38,35800,-5.18,3.09,652
8,32.11.19,Ganeas,8,Cikoneng,22.90,25400,3.43,2.19,1191
9,32.11.26,Jatigede,11,Cijeungjing,106.24,21900,-9.18,1.89,195
10,32.11.15,Jatinangor,12,Hegarmanah,31.60,98000,-14.80,8.45,3740
11,32.11.02,Jatinunggal,9,Sirnasari,72.12,45200,5.01,3.89,734
12,32.11.13,Pamulihan,11,Ciptasari,50.70,62700,4.37,5.41,1084
13,32.11.08,Paseh,10,Paseh Kidul,31.62,37600,1.79,3.24,1093
14,32.11.16,Rancakalong,10,Nagarawangi,55.07,39900,1.90,3.45,764
15,32.11.06,Situraja,15,Situraja,43.23,41700,7.54,3.60,773
16,32.11.12,Sukasari,7,Sukasari,41.82,32600,-4.35,2.81,692
17,32.11.17,Sumedang Selatan,14,Pasanggrahan Baru,92.51,78900,1.35,6.80,672
18,32.11.18,Sumedang Utara,13,Talun,30.40,99000,1.08,8.54,3503
19,32.11.09,Surian,9,Surian,70.88,11500,4.10,0.99,226
20,32.11.20,Tanjungkerta,12,Sukamantri,43.72,33800,-3.03,2.92,843
21,32.11.21,Tanjungmedar,9,Kertamukti,60.67,25900,3.76,2.24,398
22,32.11.11,Tanjungsari,12,Tanjungsari,44.86,86500,5.92,7.46,2429
23,32.11.24,Tomo,9,Tomo,84.74,23000,-0.56,1.98,347
24,32.11.01,Wado,10,Wado,84.27,43600,-1.97,3.76,571
25,32.11.25,Ujungjaya,9,Ujungjaya,86.23,31200,4.94,2.69,387

## Total Populasi

In [37]:
pop_kota_bandung = np.sum(df_kota_bandung['populasi'])
pop_kota_cimahi = np.sum(df_kota_cimahi['populasi'])
pop_kab_bandung = np.sum(df_kab_bandung['populasi'])
pop_bandung_barat = np.sum(df_bandung_barat['populasi'])
pop_kab_sumedang = np.sum(df_kab_sumedang['populasi'])

pop_bandung_raya = pop_kota_bandung + pop_kota_cimahi + pop_kab_bandung + pop_bandung_barat + pop_kab_sumedang
print(f'Total Populasi Penduduk di Kawasan Bandung Raya (Cekungan Bandung) adalah {pop_bandung_raya} jiwa')

Total Populasi Penduduk di Kawasan Bandung Raya (Cekungan Bandung) adalah 9863738 jiwa

## Luas Wilayah

In [38]:
luas_kota_bandung = pop_kota_bandung = np.sum(df_kota_bandung['luas_area'])
luas_kota_cimahi = np.sum(df_kota_cimahi['luas_area'])
luas_kab_bandung = np.sum(df_kab_bandung['luas_area'])
luas_bandung_barat = np.sum(df_bandung_barat['luas_area'])
luas_kab_sumedang = np.sum(df_kab_sumedang['luas_area'])

luas_bandung_raya = luas_kota_bandung + luas_kota_cimahi + luas_kab_bandung + luas_bandung_barat + luas_kab_sumedang
luas_bandung_raya

4930.030000000001

# Populasi Target

In [39]:
sta_kota_bandung = [
    'Andir', 'Batununggal', 'Kiaracondong', 'Gedebage', 'Cicendo', 
    'Bojongloa Kaler', 'Sumur Bandung', 'Regol', 'Bandung Wetan', 'Lengkong', 
    'Batununggal', 'Antapani', 'Buah Batu', 'Rancasari', 'Cinambo',
    'Panyileukan'    
]
sta_kota_cimahi = ['Cimahi Tengah', 'Cimahi Utara', 'Cimahi Selatan']
sta_kab_bandung = ['Cileunyi', 'Rancaekek', 'Cicalengka']
sta_bandung_barat = ['Cikalong Wetan', 'Cipatat', 'Padalarang', 'Cisarua', 'Ngamprah']
sta_kab_sumedang = ['Jatinangor', 'Tanjungsari']

In [40]:
df_kota_bandung_filtered = df_kota_bandung[df_kota_bandung['kecamatan'].isin(sta_kota_bandung)]
df_kota_cimahi_filtered = df_kota_cimahi.copy()
df_kab_bandung_filtered =  df_kab_bandung[df_kab_bandung['kecamatan'].isin(sta_kab_bandung)]
df_bandung_barat_filtered = df_bandung_barat[df_bandung_barat['kecamatan'].isin(sta_bandung_barat)]
df_kab_sumedang_filtered = df_kab_sumedang[df_kab_sumedang['kecamatan'].isin(sta_kab_sumedang)]

In [41]:
df_pop_target = pd.concat(
                            [
                                df_kota_bandung_filtered, 
                                df_kota_cimahi_filtered, 
                                df_kab_bandung_filtered, 
                                df_bandung_barat_filtered, 
                                df_kab_sumedang_filtered
                            ], 
                            axis=0
                        )

df_pop_target.reset_index(inplace=True)

df_pop_target.drop(['index'], axis=1, inplace=True)

df_pop_target

,kode_kemendagri,kecamatan,jumlah_desa_kelurahan,ibukota_kecamatan,luas_area,populasi,laju_pertumbuhan,persentase_penduduk,kepadatan_penduduk
0,32.73.05,Andir,6,Garuda,3.71,96500,0.13,3.9300,22856.0
1,32.73.20,Antapani,4,Antapani Wetan,3.79,80000,1.12,3.2600,18958.0
2,32.73.09,Bandung Wetan,3,Tamansari,3.39,26700,0.01,1.0900,7764.0
3,32.73.12,Batununggal,8,Gumuruh,5.03,115400,0.01,4.7100,23945.0
4,32.73.04,Bojongloa Kaler,5,Suka Asih,3.03,119400,0.09,4.8700,38267.0
5,32.73.22,Buah Batu,4,Margasari,7.93,101200,0.98,4.1300,13567.0
6,32.73.06,Cicendo,6,Arjuna,6.86,92200,0.05,3.7600,11841.0
7,32.73.29,Cinambo,4,Pakemitan,3.68,25500,0.72,1.0400,6006.0
8,32.73.27,Gedebage,4,Rancabolang,9.58,42400,2.41,1.7300,4262.0
9,32.73.16,Kiaracondong,6,Babakan Sari,6.12,126600,0.01,5.1600,21834.0
10,32.73.13,Lengkong,7,Malabar,5.90,66100,0.01,2.6900,11185.0
11,32.73.28,Panyileukan,4,Mekar Mulya,5.10,40100,0.61,1.6400,7554.0
12,32.73.23,Rancasari,4,Cipamokolan,7.33,84800,1.75,3.4600,12102.0
13,32.73.11,Regol,7,Ciseureuh,4.30,79100,0.02,3.2300,16696.0
14,32.73.19,Sumur Bandung,4,Merdeka,3.40,34100,0.02,1.3900,9777.0
15,32.77.01,Cimahi Selatan,5,Utama,16.94,242200,0.65,0.4237,14295.0
16,32.77.02,Cimahi Tengah,6,Cimahi,10.11,161900,0.08,0.2831,16009.0
17,32.77.03,Cimahi Utara,4,Cibabat,13.32,167600,1.59,0.2932,12584.0
18,32.04.25,Cicalengka,12,Cicalengka Kulon,35.99,123452,1.06,3.3700,3430.0
19,32.04.05,Cileunyi,6,Cileunyi,31.58,189099,1.37,5.1600,5988.0
20,32.04.28,Rancaekek,14,Rancaekek Wetan,45.25,187396,1.02,5.1100,4141.0
21,32.17.04,Cikalong Wetan,13,Cikalong Wetan,112.93,129919,1.62,7.1600,1150.4
22,32.17.07,Cipatat,12,Cipatat,126.05,142221,1.58,7.8400,1128.3
23,32.17.03,Cisarua,8,Cisarua,55.11,80298,1.65,4.4300,1457.0
24,32.17.06,Ngamprah,11,Ngamprah,36.01,179782,1.38,9.9100,4992.6
25,32.17.08,Padalarang,10,Padalarang,51.40,183700,1.50,10.1300,3573.9
26,32.11.15,Jatinangor,12,Hegarmanah,31.60,98000,-14.80,8.4500,3740.0
27,32.11.11,Tanjungsari,12,Tanjungsari,44.86,86500,5.92,7.4600,2429.0

In [43]:
populasi_target = df_pop_target['populasi'].sum() * 0.3
populasi_target

930650.1

In [46]:
luas_pop_target = df_pop_target['luas_area'].sum()

print(f'Luas Wilayah yang menjadi cakupan dari populasi target adalah {luas_pop_target:.2f} km per segi')

Luas Wilayah yang menjadi cakupan dari populasi target adalah 690.30 km per segi

In [47]:
density_pop_target = df_pop_target['kepadatan_penduduk'].mean()

print(f'Kepadatan penduduk dari luas wilayah pada populasi target adalah {density_pop_target:.2f} jiwa per km persegi')

Kepadatan penduduk dari luas wilayah pada populasi target adalah 10769.01 jiwa per km persegi

In [44]:
n_kecamatan = len(df_pop_target)
n_kelurahan = df_pop_target['jumlah_desa_kelurahan'].sum()

print(f'Terdapat {n_kecamatan} kecamatan dan {n_kelurahan} kelurahan pada populasi target')

Terdapat 28 kecamatan dan 201 kelurahan pada populasi target